<!DOCTYPE html>
<html>
<head>
  <title>Produtos para Animais</title>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="../stylesheets/cachorro.css" rel="stylesheet">
</head>
<body>
  <div class="header">
    <img src="https://img.freepik.com/vetores-gratis/cao-bonito-brincando-na-ilustracao-dos-desenhos-animados-da-caixa-animal-nature-concept-isolated-flat-cartoon_138676-2297.jpg?w=740&t=st=1687717866~exp=1687718466~hmac=6400c45a26ba4eb178d8a79edd17e72b3fd1c18325f5ef76d27da1623b1a55da" width="200px">
    <h1>Produtos para Cachorros</h1>
  </div>
  <div class="container">
    <div class="category">
      <h2>Comida</h2>
      <div class="product">
        <img src="../images/racao_royal_cao.webp" alt="Comida para Cachorros">
        <h3>Ração Royal Adultos</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
      <div class="product">
        <img src="../images/racao_royal_cao_filhote.webp" alt="Rações para Cachorros">
        <h3>Ração Royal Filhotes</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
    </div>
    <div class="category">
      <h2>Brinquedos</h2>
      <div class="product">
        <img src="../images/toy_interativo_cao.webp" alt="Brinquedos para Cachorros">
        <h3>Brinquedo Interativo para Cachorros</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
      <div class="product">
        <img src="../images/toy_corda_cao.webp" alt="Mordedores para Cachorros">
        <h3>Mordedores para Cachorros</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
    </div>
    <div class="category">
      <h2>Petiscos</h2>
      <div class="product">
        <img src="../images/petiscos_suprema_cao.webp" alt="Petiscos para Cachorros">
        <h3>Petiscos Naturais para Cachorros</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
      <div class="product">
        <img src="../images/biscoitos_dentaligth_cao.webp" alt="Biscoitos para Cachorros">
        <h3>Biscoitos Crocantes para Cachorros</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
    </div>
    <div class="category">
      <h2>Rações</h2>
      <div class="product">
        <img src="../images/racao_umida_cao.webp" alt="Rações para Cachorros">
        <h3>Rações umida para Cachorros</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
      <div class="product">
        <img src="https://cobasi.vteximg.com.br/arquivos/ids/836258-400-400/Racao-Umida-Joy-Origem-Nature-Frango-com-Espinafre-e-Legumes-300g.jpg?v=637684401586630000" alt="Rações Naturais para Cachorros">
        <h3>Rações Naturais para Cachorros</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
    </div>
    <div class="category">
      <h2>Produtos de Higiene</h2>
      <div class="product">
        <img src="../images/educador_cao.webp" alt="Xampu para Cachorros">
        <h3>Shampoo Hipoalergênico para Cachorros</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
      <div class="product">
        <img src="../images/cronograma_pelos_cao.webp" alt="Coletor de Fezes para Cachorros">
        <h3>Coletor de Fezes para Cachorros</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
    </div>
  </div>
</body>
</html>
