<!DOCTYPE html>
<html>
<head>
  <title>Produtos para Cachorros</title>
  <link href="../stylesheets/gatos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <header id="header">
    <div class="container">
        <div class="header-area">
            <a href="#header"><img src="/images/Pelos_Patas.png" width="200px" alt="Logo PetFood"></a>
            <nav>
                <ul class="menu-area">
                    <li class="menu--item"><a href="/principal">Página Inicial</a></li>
                    <li class="menu--item"><a href="/produtos">Comprar Produtos</a></li>
                    <li class="menu--item"><a href="/gatos">Produtos para Gatos</a></li>
                </ul>
            </nav>
        </div>
      </header>
      <section id="banner">
        <div class="container">
            <div class="banner-area">
                <div class="banner--desc"> 
                    <div class="banner--desc--text">
                        <h1>Tudo o que seu cão precisa a Pelos e Patas tem!</h1>
                        <p class="text-light">Transforme os momentos com seu melhor amigo em uma experiência extraordinária! Oferecemos tudo o que seu cão precisa para viver uma vida cheia de alegria, saúde e amor incondicional.</p>
                        <a href="/produtos" class="button">Comprar produtos</a>
                    </div>
                </div>
                <div class="banner--image">
                    <img src="/images/dog-olhando-cima.png" alt="Imagem de um cachorro">
                </div>
            </div>
        </div>
    </section>
    <div class="categorias">
      <div class="categoria">
        <h2>Alimentação</h2>
        <div class="produto">
          <div class="item">
            <img id="imagem" src="/images/Racao-Umida-Origem.webp">
            <h3>Ração Natural para Cachorros</h3>
            <h5>- Sem transgênicos; - Indicado para cães adultos; - Alimento 100% natural; - Sem corantes e aromatizantes artificiais;</h5>
            <p>R$29.00</p>
          </div>
          <div class="item">
            <img id="imagem" src="/images/images/ProductsJson/6.png">
            <h3>Ração para Cães Filhotes Sabor Frango</h3>
            <h5>- Indicada para cães filhotes; - Ideal para os pets de graças grandes; - Oferece suporte aos ossos e articulações; - Mantém a saúde do trato intestinal;</h5>
            <p>R$212.00</p>
          </div>
          <div class="item">
            <img id="imagem" src="/images/petiscos_suprema_cao.webp">
            <h3>Petiscos Naturais para Cachorros</h3>
            <h5>- Saboroso e crocante; - Livre de corantes artificiais; - Auxilia na saúde bucal; - Saudável e nutritivo; - Para cães de todos os portes;</h5>
            <p>R$49.00</p>
          </div>
          <div class="item">
            <img id="imagem" src="/images/biscoitos_dentaligth_cao.webp">
            <h3>Biscoitos Crocantes para Cachorros</h3>
            <h5>- Totalmente digerível; - Rico em Proteínas; - Promovem a limpeza dos dentes por mastigação;</h5>
            <p>R$35.00</p>
          </div>
        </div>
      </div>
  
      <div class="categoria">
        <h2>Produtos de Higiene</h2>
        <div class="produto">
          <div class="item">
            <img id="imagem" src="/images/cronograma_pelos_cao.webp" alt="Creme pra Cachorro">
            <h3>Cronograma Pet De Pelagem</h3>
            <h5>- Conta com ativos naturais como Óleo de Girassol e Manteiga de Karité, proporcionando brilho intenso e fácil desembaraço.</h5>
            <p>R$297.00</p>
          </div>
          <div class="item">
            <img id="imagem" src="/images/educador_cao.webp" alt="Shampoo para Cachorro">
            <h3>Shampoo Hipoalergênico para Cachorros</h3>
            <h5>- Indicado para cães; - Com PH neutro; - Promove uma limpeza segura sem agredir a pelagem.</h5>
            <p>R$55.00</p>
          </div>
        </div>
      </div>

      <div class="categoria">
        <h2>Produtos para Lazer</h2>
        <div class="produto">
          <div class="item">
            <img id="imagem" src="/images/toy_corda_cao.webp">
            <h3>Mordedores para Cachorros</h3>
            <h5>- Atóxico não prejudica a saúde do pet e com um formato divertido; - Incentiva atividade física, indicado para cães de todos os portes.</h5>
            <p>R$15.00</p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
