<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/cadastro.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="../javascripts/scriptcadastropet.js"></script>

</head>
<body>
    <nav>
       <div class="logo">
        <img src="../images/tela1/Pelos e Patas Pet Shop-1_page-0001.jpg">
       </div>
       </div>
       <div class="hamburguer" onclick="menuMobile()">
         <div class="line"></div>
         <div class="line"></div>
         <div class="line"></div>
       </div>
    </nav>
    <div class="container">
        <div class="wrapper">
            <div class="top">
                <span>PET</span>
                <img src="../images/cadastro.webp" alt="">
                <span>SHOP</span>
            </div>
            <div class="bottom">
                <div class="triangle"></div>
                <form action="/pets" method="post">
                    <div class="profilePic">
                        <div class="circle">
                        </div>
                    </div>
                     <h2>Insira os dados abaixo:</h2>
                     <form action="pets" method="POST">
                     <label for="nome">nome:</label>
                     <input type="text" id="nome" name="nome" required>
                     <label for="raca">raca:</label>
                     <input type="text" id="raca" name="raca" required>
                     <label for="idade">idade:</label>
                     <input type="number" id="idade" name="idade" required>
                     
                      <div class="singUp">
                        <button type="submit">Cadastrar</button>
                        <i class="fa fa-paw"></i>
                            </div>
                                </button>
                            </div>
                        </form>
                    </div>
                    </div>
                        </button>
                    </div>
            </div>
        </div>
      
    </div>
</body>
</html>