<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/cadastro2.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="../javascripts/scriptCadastro.js"></script>

</head>
<body>
    <nav>
       <div class="logo">
        <img src="../localfoto">
       </div>
       <div class="user">
            <span>Logar</span>
            <p> | </p>
            <span>Cadastrar</span>
       </div>
       <div class="hamburguer" onclick="menuMobile()">
         <div class="line"></div>
         <div class="line"></div>
         <div class="line"></div>
       </div>
    </nav>
    <div class="container">
        <div class="wrapper">
            <div class="top">
                <span>PET</span>
                <img src="../images/cadastro.webp" alt="">
                <span>SHOP</span>
            </div>
            <div class="bottom">
                <div class="triangle"></div>
                <div class="formulario">
                    <h2>Insira os dados abaixo:</h2>
                <form action="/alterar/"method="POST">
                    <input type="hidden" id="id" name="id" value="<%= pessoa.id%>" />
          
          
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" value = "<%= pessoa.nome%>" required>
              
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value = "<%= pessoa.email%>" required>
              
                    <label for="telefone">Telefone:</label>
                    <input type="tel" id="telefone" name="telefone" value = "<%= pessoa.telefone%>" required>
              
              
                    <input type="submit" id="botaocadastros" value="Realizar Cadastro">
                    </form>
                    <a href="/pessoa">Cancelar</a>

        </div>
        <i class="paw fa fa-paw"></i>
    </div>
</body>
</html>