<!DOCTYPE html>
<html>
<head>
  <title>Produtos para Gatos</title>
  <link href="../stylesheets/gatos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<body>
  <div class="header">
    <img src="https://img.freepik.com/vetores-premium/gato-fofo-sentado_512627-64.jpg?w=2000" width="200px">
    <h1>Produtos para Gatos</h1>
  </div>
  <div class="container">
    <div class="category">
      <h2>Comida</h2>
      <div class="product">
        <img src="/images/racao_royal_gatos.webp" alt="Comida para Gatos">
        <h3>Comida Premium para Gatos</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
      <div class="product">
        <img src="/images/racao_royal_gatos_filhotes.webp" alt="Rações para Gatos">
        <h3>Rações Balanceadas para Gatos</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
    </div>
    <div class="category">
      <h2>Brinquedos</h2>
      <div class="product">
        <img src="/images/kit_toy_gatos.webp" alt="Brinquedos para Gatos">
        <h3>Brinquedo Interativo para Gatos</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
    </div>
    <div class="category">
      <h2>Petiscos</h2>
      <div class="product">
        <img src="/images/racao_umida_cao.webp" alt="Petiscos para Gatos">
        <h3>Ração umida Naturais para Gatos</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
      <div class="product">
        <img src="https://cobasi.vteximg.com.br/arquivos/ids/185843-400-400/Petisco-Friskies-Camarao-Salmao-e-Atum.jpg?v=638133806488200000" alt="Snacks para Gatos">
        <h3>Petiscos Para Gatos</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
    </div>
    <div class="category">
      <h2>Rações</h2>
      <div class="product">
        <img src="/images/racao_royal_cao_filhote.webp" alt="Rações para Gatos">
        <h3>Rações Balanceadas para Gatos</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
      <div class="product">
        <img src="https://images.petz.com.br/fotos/1658415086408.jpg" alt="Rações Naturais para Gatos">
        <h3>Rações Naturais para Gatos</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
    </div>
    <div class="category">
      <h2>Produtos de Higiene</h2>
      <div class="product">
        <img src="https://www.petlove.com.br/images/products/250533/product/2492359.jpg?1635795887" alt="Areia para Gatos">
        <h3>Areia Sanitária para Gatos</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
      <div class="product">
        <img src="https://www.petlove.com.br/images/products/233413/product/Kit_Cafun%C3%A9_Shampoo___Condicionador_-_Kit.jpg?1627748424" alt="Shampoo para Gatos">
        <h3>Shampoo Hipoalergênico para Gatos</h3>
        <button class="buy-button">COMPRAR</button>
      </div>
    </div>
  </div>
</body>
</html>
