<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/atendimento.css"/>

    <title>Document</title>
</head>
<body>
    <table>
        <caption>Rações</caption>
        <thead>
            <tr>
                <th>Marca da Ração</th>
                <th>Preço</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SuperPet</td>
                <td>R$ 25.99</td>
                <td>Cachorro</td>
            </tr>
            <tr>
                <td>PurrfectMeal</td>
                <td>R$ 18.50</td>
                <td>Gato</td>
            </tr>
            <tr>
                <td>Pet's Delight</td>
                <td>R$ 12.99</td>
                <td>Cachorro</td>
            </tr>
            <tr>
                <td>MeowMunchies</td>
                <td>R$ 15.75</td>
                <td>Gato</td>
            </tr>
            <tr>
                <td>HealthyPaws</td>
                <td>R$ 32.45</td>
                <td>Cachorro</td>
            </tr>
            <tr>
                <td>WhiskerWonder</td>
                <td>R$ 22.99</td>
                <td>Gato</td>
            </tr>
            <tr>
                <td>PawPalace</td>
                <td>R$ 28.00</td>
                <td>Cachorro</td>
            </tr>
            <tr>
                <td>FelineFeast</td>
                <td>R$ 19.99</td>
                <td>Gato</td>
            </tr>
            <tr>
                <td>BarkBites</td>
                <td>R$ 23.50</td>
                <td>Cachorro</td>
            </tr>
            <tr>
                <td>WhiskerLicious</td>
                <td>R$ 17.25</td>
                <td>Gato</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
