<!DOCTYPE html>
<html>
<head>
  <title>Entrada</title>
  <link href="../stylesheets/tela1.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header">
    <h1>PELOS E PATAS</h1>
  </div>
  <div class="container">
    <img class="logo" src="/images/Pelos e Patas Pet Shop-1_page-0001.png"  alt="Logo do Petshop">
    <button class="button" onclick="window.location.href='/login'">Login</button>
    <button class="button button-cadastro" onclick="window.location.href='cadastro'">Cadastro</button>   
  </div>
</body>
</html>
