* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(253, 206, 51);
  }

  .header {
    background-color: #432A2A;
    padding: 20px;
    text-align: center;
  }

  .header h1 {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    color: #fbaf3e;
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

  .button {
    width: 200px;
    height: 40px;
    margin: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .button-cadastro {
    background-color: #FF9800;
  }

  .logo {
    width: 350px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 600px) {
    .button {
      width: 150px;
    }
  }
